/* Global   Variable */

// color
$blue     : #228abf;
$dblue    : #2a2e3d;
$gblue    : #383d4e;

$bgcMain  : #eeeded;
$bgcAside : $dblue;
$bgcPanel : #f4f5f6;

$bdTL     : #dcdee0;
$bdRB     : #eaeaea;

$bdBlue   : #4388c8;
$bgGreen  : #42b29e;
$bgBlue   : #388BC2;
$bgRed    : #cf4a36;
$bgYellow : #e2cd47;

//size
$headerH  : 56px;
$asideW   : 260px;
$asideH   : 1210px;

// font

/* End Global  Variable */